:root {
    --box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    --text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    --main-bg-color: #F8F8FF;
    --menu-bg-color: #454546;
    --welcome-color: #A0E7E5;
    --user-color: #F0FFFF;
    --border-color: #D3D3D3;
    --checkbox-shadow-color: rgba(0, 0, 0, 0.1);
    --checked-shadow-color: rgba(0, 0, 0, 0.5);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #F0F8FF, #F0FFFF, #F0F8FF);
}

#main_menu {
    background-color: var(--menu-bg-color);
    height: 100px;
    width: 100%;
    margin-top: -20px;
    border-radius: 5px;
}

#welcome, #welcome_2 {
    justify-content: center;
    display: flex;
    color: var(--welcome-color);
    font-weight: bold;
    text-shadow: var(--text-shadow);
}

#welcome_2 {
    margin-top: -20px;
}

#user {
    color: var(--user-color);
    margin-top:-40px;
    margin-left: 20px;
    border: 2px solid var(--menu-bg-color);
    width: 110px;
    height: 40px;
    position: relative; 
    padding-right: 15px; 
}

#user::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 30%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--user-color) transparent transparent transparent;
    transform: translateY(-50%);
}

#today, #done {
    font-size: 30px;
    border-radius: 10px;
    border: 6px solid var(--border-color);
    width: 400px;
    height: 400px;
    overflow: auto;
    box-shadow: 3px 3px 5px var(--text-shadow);
    text-shadow: 1px 1px 2px var(--text-shadow);
    padding: 20px;
}

@media screen and (max-width: 600px) {
    #container {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        margin:auto !important;
        width: 100% !important;
        height: 100% !important;
    }
    #container #today, #container #done {
        width: 100% !important;
        margin: 10px !important;
    }
}


#add {
    position: relative;
    bottom: 85px;
    border: none; /* remove border */
    border-radius: 50%; /* make the button round */
    margin-left: 90%;
    width: 50px;
    height: 50px;
    background-color: transparent;/* use main background color */
    color: var(--menu-bg-color); /* use menu background color for text */
    text-align: center;
    font-size: 30px; /* adjust as needed */
    line-height: 50px; /* vertically center the '+' sign */
    box-shadow: var(--box-shadow), 0 0 10px var(--box-shadow); /* add 3D effect */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* smooth shadow and transform transition */
}

#add:before {
    content: "+";
}

#add:hover {
    box-shadow: var(--box-shadow), 0 0 15px var(--box-shadow); /* increase 3D effect on hover */
}

#add:active {
    box-shadow: var(--box-shadow), 0 0 5px var(--box-shadow); /* decrease 3D effect when pressed */
    transform: scale(0.95); /* slightly reduce size when pressed */
}




#today {
    margin-left: 50px;
    margin-top: 50px;
}

#done {
    border-radius: 20px;
    margin-left: 65%;
    margin-top: -400px;
}

#today p, #done p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add a 3D effect */
}

.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    outline: none;
    background: #ffffff;
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease-in-out; /* Increase transition duration */
}

.checkbox:checked {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Increase shadow for 3D effect */
}

.checkbox:checked::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: checkmark 1s ease-in-out forwards; /* Increase animation duration */
}

@keyframes checkmark {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0) rotate(45deg);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) rotate(45deg);
    }
}

